header {
  padding-top: 50px;
  margin-bottom: 50px;

  transition: padding-top 0.2s ease-in-out;

  h1 {
    transition: transform 0.2s ease-in-out;
  }

  .back {
    top: 15px;
    position: relative;

    cursor: pointer;
  }

  &.collapsed {
    padding-top: 0;
    margin-bottom: 20px;

    h1 {
      transform: scale(0.5);
    }
  }
}
