<div class="repository-card text-left">
  <a class="name" [routerLink]="['repositories', repository.id]">
    <h6>{{ repository.name }}</h6>
  </a>

  <div class="description" title="{{ repository.description }}">
    {{ repository.description }}
  </div>

  <div class="meta-data">
    <span title="Stargazers">
      <span class="fa fa-star"></span>
      {{ repository.stargazersCount }}
    </span>

    <span title="Forks">
      <span class="fa fa-code-fork"></span>
      {{ repository.forksCount }}
    </span>

    <span title="Issues">
      <span class="fa fa-exclamation-circle"></span>
      {{ repository.openIssuesCount }}
    </span>
  </div>
</div>
