<div class="text-left mb-3">
  <span class="fa fa-exclamation-circle"></span>
  {{ issues?.length }}
  Open
</div>

<table class="table table-hover table-bordered text-left">
  <tr *ngFor="let issue of issues">
    <td>
      <div class="issue-title">
        {{ issue.title }}
      </div>
      <div class="issue-data">
        #{{ issue.issueNumber }} opened on {{ issue.createdDate | date:'short' }} by <a [attr.href]="issue.postedByUrl" target="_blank">{{ issue.postedByUserName }}</a>
      </div>
    </td>
  </tr>
</table>
